<% include layout/header.ejs %>
    <div class="container">
        <% var count = 0; %>
            <% var limit = (parseInt(data.qtd)+1);
          for(var i=1; i < limit; i++) {
            if(count == 6){
            %>
                <div class="fix-margin">

                </div>
                <%
              count = 0
            }
           %>
                    <div class="capsule">

                        <table>
                            <tr class="custom-bottom">
                                <th class="col-xs-2 text-center custom-side-border">
                                    <% if(i < 10){ %>
                                        <h3>Nº 00<%= i %></h3></th>
                                <% } %>
                                    <% if(i >= 10 && i < 100){ %>
                                        <h3>Nº 0<%= i %></h3></th>
                                        <% } %>
                                            <% if(i >= 100){ %>
                                                <h3>Nº <%= i %></h3></th>
                                                <% } %>
                                                    <th class="col-xs-10 text-center">
                                                        <% if(i < 10){ %>
                                                            <h3>Nº 00<%= i %></h3></th>
                                                    <% } %>
                                                        <% if(i >= 10 && i < 100){ %>
                                                            <h3>Nº 0<%= i %></h3></th>
                                                            <% } %>
                                                                <% if(i >= 100){ %>
                                                                    <h3>Nº <%= i %></h3></th>
                                                                    <% } %>
                            </tr>
                            <tr>
                                <td class="custom-side-border">
                                    <p class="text-center">
                                        <strong>Nome</strong>
                                    </p>
                                    <p>
                                        ____________________________________________
                                    </p>
                                </td>
                                <td class="custom-transparent-border-bottom">
                                    <h4 class="text-center"><strong><%= data.title %></strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="custom-side-border">
                                    <p class="text-center">
                                        <strong>Telefone</strong>
                                    </p>
                                    <p>
                                        ____________________________________________
                                    </p>

                                </td>
                                <td class="custom-transparent-border-top">
                                    <span class="text-center">
                            <p>
                                <%= data.msg %>
                            </p>

                            <p>
                                <strong>Valor: <b>R</b><i class="fa fa-usd" aria-hidden="true"></i>
                              <%= data.price %></strong>
                            </p>
                            </span>
                                </td>
                            </tr>

                        </table>

                    </div>

                    <%
            count = count + 1;
                      } %>
    </div>
    </body>

    </html>
